In [ ]:
# Use sklearn support vector regression to predicit our data:
from sklearn.svm import SVR
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
train_f = pd.read_csv("Testing_500_final.csv")
ftr_score = train_f.iloc[:,9:12].to_numpy()
scores = train_f.iloc[:,7:8].to_numpy().ravel()

X_train,X_test,y_train,y_test = train_test_split(ftr_score,scores,test_size=0.33,random_state=42)
#Convert to 1d Vector


svr_rbf = SVR(kernel= 'rbf', C= 1e3, gamma= 0.1)
svr_rbf.fit(X_train, y_train)
pre = svr_rbf.predict(X_test)

In [ ]:
def accuracy(y_test,pred,pct):
  n = len(y_test)
  tol_Delta = abs(pct*y_test)
  abs_Delta = abs(pred - y_test)

  results = abs_Delta < tol_Delta
  acc = sum(results)/n
  return acc

In [ ]:
print(pre)

[3.82217106 3.89961411 3.9000275  3.89975516 3.90149315 3.91650737
 3.81877878 3.92082768 3.87542354 3.8900035  3.89975516 3.89993595
 3.89968149 3.90003647 3.891219   3.89989843 3.89961822 3.89992323
 3.85659761 3.89977913 3.89997921 3.89995974 3.90038963 3.90003647
 3.89989843 3.88085339 3.89989843 3.80850547 3.90009265 3.96685492
 3.89974939 3.9006111  3.89989804 3.90207694 3.90457875 3.9001918
 3.77278563 3.92309026 3.97967685 3.90012189 3.89985292 3.87305988
 3.92298125 3.89947881 3.82381096 3.90014316 3.88261555 3.90026935
 3.89987918 3.89681495 3.89989804 3.90047075 3.88589747 3.69667878
 3.8981422  3.89981311 3.90003647 3.89988222 3.82868659 3.89990217
 3.89988949 3.91373027 3.8995902  3.89107001 3.89989843 3.90000625
 3.75679939 3.89685112 3.9000585  3.89989843 3.89989804 3.89980315
 3.91551576 3.89999085 3.81932047 3.90044698 3.90000625 3.87238687
 3.9208369  3.8797496  3.9000275  3.90007744 3.90000082 3.84556818
 3.87437642 3.90001596 3.88944554 3.89989843 3.89986263 3.90401193
 3.89993383 3.89999085 3.90003647 3.91663329 3.90049993 3.90034885
 3.89979364 3.90729274 3.91477795 3.89986213 3.90158954 3.90000059
 3.86364212 3.89993383 3.89972487 3.90017047 3.87830419 3.89758966
 3.91120574 3.90062914 3.89999085 3.89989843 3.87743185 3.89986376
 3.85193283 3.90001254 3.89962168 3.89969018 3.89332216 3.89517757
 3.89976971 3.90675425 3.89385785 3.89970824 3.90064535 3.89975933
 3.89990192 3.89960515 3.91022095 3.84723932 3.90054259 3.89994416
 3.90044972 3.88719952 3.89989593 3.92309779 3.90006285 3.89984295
 3.90001254 3.89975516 3.89994775 3.91328156 3.90001254 3.88937036
 3.90013    3.89993834 3.89967302 3.90363887 3.89969992 3.89997441
 3.90059093 3.89994231 3.90041933 3.9006111  3.87410443 3.84556818
 3.86951892 3.91701264 3.90024401 3.90214419 3.90000059 3.90038698
 3.89989843 3.89961822 3.89994775]

In [ ]:
import comet
from comet import download_model,load_from_checkpoint

model_path = download_model("wmt20-comet-da")
model = load_from_checkpoint(model_path)
data = [
    {
        "src": "Dem Feuer konnte Einhalt geboten werden",
        "mt": "The fire could be stopped",
        "ref": "They were able to control the fire."
    },
    {
        "src": "Schulen und Kindergärten wurden eröffnet.",
        "mt": "Schools and kindergartens were open",
        "ref": "Schools and kindergartens opened"
    }
]
seg_scores, sys_score = model.predict(data, batch_size=8, gpus=1)

In [ ]:
APE=100*(abs(y_test-pre)/y_test)

 
acc = accuracy(y_test,pre,0.8)
print('The Accuracy of SVR model with {} tolerance is {}:'.format(acc,0.3))

The Accuracy of SVR model with 0.7388023516576763 tolerance is 0.3:

In [ ]:
train_f.iloc[:,2:3].to_numpy().ravel()

array([0.99689138, 0.99871024, 0.99358682, ..., 0.95081477, 0.8236439 ,
       0.8001727 ])

In [ ]:
from scipy.stats import pearsonr
corr, _ = pearsonr(y_test,pre)
print('Pearsons correlation: %.3f' % corr)

Pearsons correlation: 0.006

In [ ]:
dft=pd.read_csv("Testing_500_final.csv")
dft

,Unnamed: 0,Reference Key,Sentence,Translated Sentence,Score_shubham,score_saurabh,Difference,Average,Reference,F1_lexi,F1_syno,F1_root
0,0,S1,Shilpa was holding her newborn wrapped in a pi...,शिल्पा ने अपने नवजात शिशु को गुलाबी रंग के बेब...,3,3,0,3.0,शिल्पा अपने नवजात को गुलाबी कंबल में लपेट रही ...,0.560000,0.181818,0.222222
1,1,S2,The United Nations is helping India in its uph...,संयुक्त राष्ट्र के एक प्रवक्ता ने कहा कि संयुक...,4,4,0,4.0,संयुक्त राष्ट्र के प्रवक्ता ने कहा कि संयुक्त ...,0.904762,0.500000,0.000000
2,2,S3,Vidyut made his Bollywood debut with the actio...,विद्युत ने 2011 में एक्शन से भरपूर फिल्म फोर्स...,4,4,0,4.0,विद्युत ने 2011 में एक्शन-पैक फिल्म फोर्स के स...,0.740741,0.285714,0.400000
3,3,S4,"The initiative with Swiggy covered Delhi, Ahme...","स्विगी के साथ पहल ने दिल्ली, अहमदाबाद, चेन्नई,...",3,4,-1,3.5,"इस पहल में दिल्ली, अहमदाबाद, चेन्नई, इंदौर और ...",0.560000,0.545455,0.800000
4,4,S5,Researchers across the world are now racing ag...,COVID-19 के खिलाफ संभावित वैक्सीन बनाने के लिए...,2,3,-1,2.5,दुनिया भर के शोधकर्ता अब कोविड-19 के खिलाफ संभ...,0.894737,0.500000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,S496,Rupani presented a detailed picture of how Guj...,रूपाणी ने एक विस्तृत तस्वीर पेश की कि कैसे गुज...,4,4,0,4.0,रूपाणी ने एक विस्तृत तस्वीर पेश की कि कैसे गुज...,0.838710,0.400000,0.000000
496,496,S497,Actor Rhea Chakraborty has finally broken her ...,अभिनेता रिया चक्रवर्ती ने अभिनेता सुशांत सिंह ...,4,4,0,4.0,अभिनेता सुशांत सिंह राजपूत की मौत पर रिया चक्र...,0.896552,0.000000,0.000000
497,497,S498,China-India relations have recently attracted ...,वांग ने कहा कि चीन-भारत संबंधों ने हाल ही में ...,4,4,0,4.0,वांग ने कहा कि चीन-भारत संबंधों ने हाल ही में ...,1.000000,0.000000,0.000000
498,498,S499,Mumbai Indians will face Kings XI Punjab at Du...,18 अक्टूबर रविवार को दुबई इंटरनेशनल क्रिकेट स्...,4,4,0,4.0,रविवार को मुंबई इंडियंस का मुकाबला किंग्स इलेव...,0.714286,0.250000,0.000000
499,499,S500,Renu Devi said that 35 thousand crore rupees f...,रेणु देवी ने कहा कि कोरोना टीकाकरण के लिए 35 ह...,4,4,0,4.0,रेणु देवी ने कहा कि कोरोना टीकाकरण के लिए 35 ह...,0.894737,0.500000,0.000000

In [ ]:
dft.iloc[:,7:8]

     Average
0        3.0
1        4.0
2        4.0
3        3.5
4        2.5
..       ...
495      4.0
496      4.0
497      4.0
498      4.0
499      4.0

[500 rows x 1 columns]